  a{
    text-decoration: cornflowerblue;
color: darkblue;
  }

  h1{
    font-size: 30px;
    background: #b3d4fc;
  }

p{
  background: gold;
  color: darkblue;
}

li{
  background: #b3d4fc;
  color: midnightblue;
}
